ul,li{
	padding: 0;
	list-style: none;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.padding-50{
	padding: 50px;;

}
.padding-80{
	padding: 80px;;

}
.padding-100{
	padding: 100px;;

}
.text-c{
	text-align: center;
}
.container .content{
	padding: 0 10px;

}

.font-16{
	font-size: 16px;
}

.main-content.f8f9fb-theme{
	background-color:#f8f9fb;
}
.main-content.ffffff-theme{
	background-color:#ffffff;
}


.flex-box{
	display: flex;
}
.my-icon{
	width:40px;
	height: 40px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.line{
	width: 40px;
	height: 2px;
	background-color: #fbb900;


}
.box-sizing-b{
	box-sizing: border-box;
}
ul,li{
	padding: 0;
}
		.banner {
			width: 100%;
		}

		.banner img {
			width: 100%;
		}

		.main-content .content {
			box-sizing: border-box;
			padding: 60px 10px;
		}

		.main-content .item1 {
			width: 70%;
			float: left;
		}

		.main-content .item2 {
			width: 30%;
			float: left;
		}

		.main-content .item.content {
			padding: 50px 100px;
		}

		.main-content .p1 {
			font-size: 30px;
			margin-bottom: 30px;
			color: #333333
		}



		.main-content .p2 {
			font-size: 18px;
			line-height: 1.8;
			letter-spacing: 1px;
		}

		.line {
			height: 20px;
		}

		.yellow-theme {
			background-color: #fffcf0;
		}

		.blue-theme {
			background-color: #e2eeff;
		}

		.yellow-theme .p1 {
			color: #fdd435;
		}

		.blue-theme .p1 {
			color: #5c9eff;
		}

		/* --qq */
		.main-content .p1 span {

			color: #999999;
			margin-left: 10px;
		}

		.main-content .p2 .title {
			display: block;

			position: relative;
			padding-left: 30px;

		}

		.main-content .p2 .title::before {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			background-color: #fbb900;
			transform: rotate(45deg);
			position: absolute;
			top: 11px;
			left: 10px;


		}

		.main-content.f8f9fb-theme {
			background-color: #f8f9fb;
		}

		.main-content.ffffff-theme {
			background-color: #ffffff;
		}

		div.extra {

			border-left: 4px solid #fbb900;

		}

		.container .head {
			padding: 30px 0;
			font-size: 18px;
		}

		.clearfix::after {
			content: "";
			display: block;
			clear: both;
		}

		.box {
			padding: 0 30px;
		}

		.box-title {
			font-size: 30px;
			color: #999999;
			margin-top: 30px;
		}

		.box-title span {
			color: #333333;
			margin: 0 20px;


		}

		.text-c {
			text-align: center;
		}

		.img-box {
			padding: 30px 150px;
		}

		.img-box img {
			width: 100%;
			margin-bottom: 30px;
		}

		ul.content {
			display: flex;
		}

		ul.content li {
			flex: 1;
			padding: 0 36px;



		}



		ul.content li span {
			display: block;
			padding: 20px 0;
			font-size: 18px;
			font-weight: bold;
        }


        .img-extra{
            height: 20px;
            margin: 30px 0;
        }
        .img-extra img{
            height: 100%;
        }
        .box-title1{
            font-size: 22px;
            color: #333333;
            font-weight: bold;
            letter-spacing: 3px;


        }
        .box-title1::after{
            content: "";
            display: block;
            width: 80px;
            height:2px;
            background-color: #fbb900;
            margin: 10px 0;
        }

        .box-item-ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .box-item-ul .box-item-li{
            width: 500px;
            margin: 16px 0;
        }
        .box-item-ul .box-item-li:nth-of-type(2n){
            margin-left: 40px;
        }

        .left-box{
            float: left;
            width: 60px;


        }
        .left-box img{
            width: 26px;
        }
        .right-box{
            float:left;
            width: 440px;
            font-size: 18px;
            color:#333333;
        }
        .right-box-title{
            font-weight: bold;
            margin-bottom: 5px;

        }


		.saas-content {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
		}

		.saas-box {
			width: 50%;
			box-sizing: border-box;
			padding: 20px;
			display: flex;

		}
		.saas-box:last-of-type{
			width: 80%;
		}
		.saas-box:nth-of-type(1) .saas-box-icon{

			background-image: url(/static/images/product/product7_icon1.png);
		}
		.saas-box:nth-of-type(2) .saas-box-icon{
			background-image: url(/static/images/product/product7_icon2.png);

		}
		.saas-box:nth-of-type(3) .saas-box-icon{
			background-image: url(/static/images/product/product7_icon3.png);

		}


		.saas-box-icon {
			width: 60px;
			height: 60px;
			flex:0 0 60px;
			background-color: #fbb900;
			border-radius: 50%;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 36px 36px;

		}
		.saas-box-t span{
			font-size: 18px;
			font-weight: bold;
			line-height: 2;


		}
		.saas-box-t p{
			font-size: 16px;
		}
		.saas-box-t{
			padding: 0 20px;
		}


		ul.num-box {
			float: left;
			width: 100%;
			margin-top: 50px;
			margin-bottom: 30px;
		}

		ul.num-box li {
			float: left;
			width: 25%;
			padding: 10px;
			text-align: center;
		}

		ul.num-box li .card {
			width: 100%;
			border: 1px solid #ccc;
			box-shadow: 1px 1px 5px #ddd;
			height: 290px;
			transition-duration: 0.3s;
		}

		ul.num-box li.on .card {

			border: 1px solid #eee;

		}

		ul.num-box li .card:hover {
			transform: translate(0, -20px);
			box-shadow: 1px 5px 10px #aaa;
		}

		ul.num-box li .card .name {
			font-size: 20px;
			padding: 0 10px;
		}

		ul.num-box li .card {
			color: #797979;
			padding: 50px 20px;
		}

		ul.num-box li.on .card {
			color: #ffffff;
		}

		ul.num-box li.on .card .name {
			color: #ffffff
		}

		ul.num-box li .card .name {
			color: #333333
		}

		ul.num-box li .card .text {
			font-size: 16px;
		}

		ul.num-box li .card img {
			height: 60px;
		}

		ul.num-box li.on .card {
			background-color: #fbb900;
		}

		.underline {
			text-align: center;
			margin: 15px 0;
		}

		.line {
			background: #fbb900;
			border: 1px;
			width: 30px;
			text-align: center;
			height: 2px;
			margin: 0 auto;
		}

		ul.num-box li.on .underline .line {
			background: #ffffff;
		}

		.p-title {
			position: absolute;
			left: 55px;
			top: 145px;
			width: 585px;
			font-size: 18px;
			color: #333333;
			line-height: 1.5;
		}

		ul.scene {
			display: flex;
			color: #333333;
			justify-content: space-between;

		}

		ul.scene li {
			width: 32.5%;
		}

		ul.scene .title {
			font-size: 18px;
			font-weight: bold;
			margin: 30px 0 10px;
			position: relative;
			padding: 0 46px;

		}

		ul.scene .title span {
			color: #fbb900;
			vertical-align: -9px;
			margin-right: 40px;

		}

		ul.scene .title::before {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			background-color: #fbb900;
			transform: rotate(45deg);
			position: absolute;
			top: 6px;
			left: 10px;


		}

		ul.scene .text {
			font-size: 15px;
			line-height: 2;



		}

		ul.scene li img {
			width: 100%;
		}

		ul.scene .scene-title-box {
			padding: 0 6px;

		}

		.product1-box1{
			justify-content: space-between;
			padding: 0 180px ;
			background-color:#fbb900;
		}

		.product1-box-extra{
			position: relative;
			border: 2px dashed #fbb900;
			height: 40px;
			border-bottom: 0;
			width: 400px;

		}
		.product1-box-extra::after{
			content: "";
			display: block;
			position: absolute;
			top: 9%;
			left: 50%;
			width: 0;
			height: 80px;
			transform: translate(-50%,-50%);
			border: 2px dashed #fbb900;
			border-top: 0;
			border-bottom: 0;
			border-right: 0;
		}

		.product1-box1 li{
			background-color: #fcce4d;
			padding: 10px 40px;
		}
		.product1-box1 li .product1-box1-icon{
			width: 35px;
	height: 38px;
	background-size: cover;
		}

		.product1-box1 li:nth-of-type(1) .product1-box1-icon{
			background-image: url(/static/images/product/product1_l1_01.png);

		}
		.product1-box1 li:nth-of-type(2) .product1-box1-icon{
			background-image: url(/static/images/product/product1_l1_02.png);

		}

		.product1-box1 li span{
			color: #777777;
			font-size: 14px;
			display: block;
			font-weight: bold;
		}


		.product1-box2-box{
			position: relative;
			width: 50%;
			float: left;

			padding: 23px 0 0;
		}


		.product1-box2{
			justify-content: space-between;
		}


		.product1-box2 li{

			flex: 0 0 130px;
			box-sizing: border-box;
			padding-right:65px;

		}
		.product1-box2 li:first-child{
		}
		.product1-box2 li .product1-box2-icon{
			width: 130px;
	height: 50px;
	background-size: 30px 30px;
	background-color: #fbb900;
	background-position: center center;
		}

		.product1-box2 li:nth-of-type(1) .product1-box2-icon{
			background-image: url(/static/images/product/product1_l2_01.png);

		}
		.product1-box2 li:nth-of-type(2) .product1-box2-icon{
			background-image: url(/static/images/product/product1_l2_02.png);

		}
		.product1-box2 li:nth-of-type(3) .product1-box2-icon{
			background-image: url(/static/images/product/product1_l2_03.png);

		}

		.product1-box2-box:last-child .product1-box2>li:nth-of-type(1) .product1-box2-icon{
			background-image: url(/static/images/product/product1_l2_04.png);

		}
		.product1-box2-box:last-child .product1-box2>li:nth-of-type(2) .product1-box2-icon{
			background-image: url(/static/images/product/product1_l2_05.png);

		}
		.product1-box2-box:last-child .product1-box2>li:nth-of-type(3) .product1-box2-icon{
			background-image: url(/static/images/product/product1_l2_06.png);

		}

		.product1-box2 li span{
			color: #333333;
			font-size: 14px;
			display: block;
			font-weight: bold;
		}
		ul.product1-box2-wrap-box{
			flex-flow: wrap;
			padding: 10px 0;
		}
		ul.product1-box2-wrap-box li{
			color: #888888;
			position: relative;
			flex: 0 0 150px;
			line-height: 1.8;
			padding: 0 0 0 40px;

		}
		ul.product1-box2-wrap-box li::after{
			content: "";
			position: absolute;
			top: 8px;
			left: 23px;
			display: block;
			width: 10px;
			height: 10px;
			background-color: #888;

		}
		.product1-box2-box .product1-box-extra{
			left: 64px;
			top: -245px;
		}
		.product1-box2-box:last-child .product1-box-extra{
			left: 115px;
			top: -245px;
		}





		.product1-box2-box:last-child .product1-box2>li:nth-of-type(1){
			margin-left: 56px;
		}
